{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/gallery.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <title>Frieren Image Gallery</title>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fetch('/get-gallery')
        .then(response => response.text())
        .then(html => {
          document.getElementById('gallery-container').innerHTML = html;
        })
        .catch(error => console.warn('Error fetching gallery:', error));
    });
  </script>
</head>

<body>
  <div>
    <h1>Image Gallery</h1>
    <div id="gallery-container"></div>
  </div>
</body>

</html>
{{ end }}
